#root{
      padding-bottom: 150px;
    }
    .panel-subhead{
      padding: 5px 15px;
      background-color: #efefef;
    }
    .footer{
      border-top: 1px solid #eee;
      color: #DCDCDC !important;
      padding-top: 35px;
      padding-bottom: 28px;
      margin-top: 150px;
    }
    .footer ul{
      list-style: none;
      display: inline-block;
    }
    .footer li.split{
      margin: 0 10px;
    }
    .footer ul li{
      float: left;
    }
    .footer ul li a{
      color: #999;
    }
    .footer .pixline{
      margin: 5px 0;
    }
    .style{
      bottom:50px !important
    }
